@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.topnav {
    overflow: hidden;
    background-color: #B77272;
    width: 100%;
  }
  
  .inputKode {
  
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 10px;
    width: 200px;
    position: absolute;
    right: 0;
  }
  
  .inputKode input {
  
    border: 1.5px solid black;
    border-radius: 15px;
    height: 20px;
    background-color: transparent;
    text-align: center;
  
  }
  
  .topnav p {
    text-align: center;
  
  }
  
  .judul {
    text-align: center;
  
  }
  
  .history {
    margin-top: -40px;
    padding-left: 10%;
    position: absolute;
    left: 0;
  
  }
  
  .historyBtn:hover {
    background-color: grey;
  }

  .tabelFriend {
    display: flex;
    width: 70%;
    height: 400px;
    background-color: #B7C4CF;
    margin-left: 15.4%;
    margin-top: 1%;
    border: 3px solid black;
    border-radius: 20px;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: flex-start;
  }

  .inputID {

    width: 35%;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    height: 30px;
    margin-top: 1%;

  } 

  .friendreq {
    height: 28px;
    margin-top: 8%;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #AEDA97;
  } 

  .pemain5 {
    display: flex;
    width: 100%;
    height: 55px;
    margin-top: 2%;
    background-color: #59AEDE;
  }

  .pemain5 .profile5 {
    width: 4%;
    height: 7%;
    margin-top: 0.6%;
    margin-left: 1.5%;
    position: absolute;
    background-color: #794B4B;
  }

  .pemain5 p {
    position: absolute;
    margin-left: 7%;
    margin-top: 0.5%;
    
  }

  .pemain5 .level5 {
    width: 100px;
    height: 12px;
    background-color: #80D173;
    border: 1px solid black;
    margin-left: 7%;
    margin-top: 2.5%;
    position: absolute;
  }
  
  .pemain5 .level5 p {
    margin-left: 26%;
    margin-top: -1%;
    font-size: 12px;
  }

  .pemain5 .score5 {
    margin-left: 20%;
    margin-top: 1.4%;
    width: 20%;
    font-size: 15px;
    position: absolute;
  }

  .pemain5 .rank5 {
    margin-left: 37%;
    margin-top: 1.4%;
    width: 20%;
    font-size: 15px;
    position: absolute;
  }

  .pemain5 .add {
    margin-left: 55%;
    margin-top: 1%;
    background-color: #E2C251;
    width: 8%;
    height: 30px;
    position: absolute;
    border-radius: 10px;
    border: 1px solid black;
  }
  

  /* pop up */

  #popup {
  display: block;
  width: 80%;
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 40px;
  border: none;
  border-bottom: 2px solid green;
  font-family: sans-serif;
  font-size: 16px;

}


.modal {
  border-radius: 10px;
  padding: 20px;
  margin-left: 30%;
  margin-right: 30%;
  box-shadow: 1px 1px 5px;
  background-color: #F6F1E9;
  visibility: hidden;

}

.modal h2,
form {
  margin-left: 13%;
}

.modal h2 {
  margin-left: 44%;

}

#back {
  position: relative;
  left: 107%;
  bottom: 65px;
  font-size: 20px;
  background-color: white;
  display: inline;
  padding: 10px;
  border-radius: 50%;

}

.forgot {
  margin-top: -8%;
  font-size: 12px;
}

.kesignup {
  font-size: 12px;
  margin-left: 18%;
}

.btn {
  color: white;
  width: 40%;
  height: 40px;
  margin-left: 20%;
  background-color: #007bff;
  border: none;
  border-radius: 10px;
  font-size: 20px
}

.btn:hover {
  background-color: #0F549B;
}

#wrab {
  display: none;
}

#wrab:target .modal {
  transition: 0.56s;
  transform: translateY(100px);
  position: relative;
  visibility: visible;

}

#wrab:target .bg-color {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgb(0, 0, 0, .5);

}
  
.orang1 {
  display: flex;
  width: 100%;
  height: 55px;
  margin-top: 2%;
  background-color: #59AEDE;
}

.orang1 .profile1 {
  width: 8%;
  height: 40px;
  margin-top: 1.5%;
  margin-left: 1.5%;
  position: absolute;
  background-color: #794B4B;
}

.orang1 p {
  position: absolute;
  margin-left: 13%;
  margin-top: 1%;
  
}

.orang1 .level1 {
  width: 100px;
  height: 12px;
  background-color: #80D173;
  border: 1px solid black;
  margin-left: 13%;
  margin-top: 5.5%;
  position: absolute;
}

.orang1 .level1 p {
  margin-left: 26%;
  margin-top: -1%;
  font-size: 12px;
}

.orang1 #img1 {
  width: 35px;
  height: 35px;
  margin-left: 70%;
  margin-top: 2%;
}

.orang1 #img2 {
  width: 35px;
  height: 35px;
  margin-top: 2%;
  margin-left: 4%;

}

.orang2 {
  display: flex;
  width: 100%;
  height: 55px;
  margin-top: 2%;
  background-color: #9FCCE3;
}

.orang2 .profile2 {
  width: 8%;
  height: 40px;
  margin-top: 1.5%;
  margin-left: 1.5%;
  position: absolute;
  background-color: #794B4B;
}

.orang2 p {
  position: absolute;
  margin-left: 13%;
  margin-top: 1%;
  
}

.orang2 .level2 {
  width: 100px;
  height: 12px;
  background-color: #80D173;
  border: 1px solid black;
  margin-left: 13%;
  margin-top: 5.5%;
  position: absolute;
}

.orang2 .level2 p {
  margin-left: 26%;
  margin-top: -1%;
  font-size: 12px;
}

.orang2 #img1 {
  width: 35px;
  height: 35px;
  margin-left: 70%;
  margin-top: 2%;
}

.orang2 #img2 {
  width: 35px;
  height: 35px;
  margin-top: 2%;
  margin-left: 4%;

}

.orang10 {
  display: flex;
  width: 100%;
  height: 55px;
  margin-top: 2%;
  background-color: #59AEDE;
}

.orang10 .profile10 {
  width: 8%;
  height: 40px;
  margin-top: 1.5%;
  margin-left: 1.5%;
  position: absolute;
  background-color: #794B4B;
}

.orang10 p {
  position: absolute;
  margin-left: 13%;
  margin-top: 1%;
  
}

.orang10 .level10 {
  width: 100px;
  height: 12px;
  background-color: #80D173;
  border: 1px solid black;
  margin-left: 13%;
  margin-top: 5.5%;
  position: absolute;
}

.orang10 .level10 p {
  margin-left: 26%;
  margin-top: -1%;
  font-size: 12px;
}

.orang10 #img1 {
  width: 35px;
  height: 35px;
  margin-left: 70%;
  margin-top: 2%;
}

.orang10 #img2 {
  width: 35px;
  height: 35px;
  margin-top: 2%;
  margin-left: 4%;

}