@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.topnav {
    display: flex;
    overflow: hidden;
    background-color: #B77272;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.roomCode {
    right: 0;
}

.history {
    left: 0;

}

.historyBtn:hover {
    background-color: grey;
}

.player {
    margin-top: 2%;
    margin-left: 4%;
    display: flex;
    width: 23%;
    height: 130px;
    background-color: #D9D9D9;
    flex-direction: column;
    align-items: baseline;
}

.player .profile {
    margin-left: 7%;
    margin-top: 7%;
    background-color: #794B4B;
    width: 60px;
    height: 50px;
}


.invite {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 4%;
    margin-top: 3%;
    width: 23%;
    height: 130px;
    background-color: #D9D9D9;
    
}

.invite i {
    /* width: 100%; */
    font-size: 30px;
    color: black;
    text-align: center;
}

.invite p {
    font-size: 20px;
    margin-left: 4%;
}

/* Game Board  */

#game-board {
    margin-top: -25%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .letter-box {
    border: 2px solid gray;
    border-radius: 3px;
    margin: 2px;
    font-size: 2rem;
    font-weight: 700;
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
  }
  
  .filled-box {
    border: 2px solid black;
  }
  
  .letter-row {
    display: flex;
  }

  #keyboard-cont {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #keyboard-cont div {
    display: flex;
  }
  
  .second-row {
    margin: 0.5rem 0;
  }
  
  .keyboard-button {
    font-size: 1rem;
    font-weight: 700;
    padding: 0.5rem;
    margin: 0 2px;
    cursor: pointer;
    text-transform: uppercase;
  }

  .chat {
    margin-top: -20%;
    width: 10%;
    height: 30px;
    border-radius: 20px;
    background-color: #B77272;
  }