@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #B77272;
  width: 100%;
}

.inputKode {

  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 10px;
  width: 200px;
  position: absolute;
  right: 0;
}

.inputKode input {

  border: 1.5px solid black;
  border-radius: 15px;
  height: 20px;
  background-color: transparent;
  text-align: center;

}

.topnav p {
  text-align: center;

}

.judul {
  text-align: center;

}

.history {
  margin-top: -40px;
  padding-left: 10%;
  position: absolute;
  left: 0;

}

.historyBtn:hover {
  background-color: grey;
}

.player {
  width: 350px;
  height: 250px;
  background-color: #B7C4CF;
  margin-left: 4%;
  margin-top: 2%;
}

.player .profile {
  width: 90px;
  height: 70px;
  background-color: #794B4B;
  margin-left: 2%;
  margin-top: 2%;
  position: absolute;
}

.player .level {
  width: 120px;
  height: 18px;
  background-color: #80D173;
  border: 1px solid black;
  margin-left: 13%;
  margin-top: 4%;
  position: absolute;
}

.player .level p {
  margin-left: 20%;
  margin-top: 0%;
}

.player .nickname p {
  font-size: large;
  margin-left: 2%;
  margin-top: 8%;
  position: absolute;

}

.stranger {
  background-color: #20D25F;
  border: 2px solid #23272B;
  width: 180px;
  height: 40px;
  margin-left: 42%;
  margin-top: -12%;
  position: absolute;

  border-radius: 10px;

}


.create {
  background-color: #0AC6C6;
  border: 2px solid #23272B;
  width: 180px;
  height: 40px;
  margin-left: 42%;
  margin-top: -7%;
  border-radius: 10px;
  position: absolute;

}



.leaderboard {
  margin-left: 67%;
  margin-top: -21%;
}

.leaderboard img {
  width: 350px;
}

.friendlist {
  width: 100%;
  height: 217.5px;
  background-color: #F6F1E9;
}

.friendlist p {
  margin-left: 3%;
  /* margin-top: 2%; */
  font-size: large;
}

.friend1 {
  margin-left: 3%;
  width: 20%;
  height: 70%;
  background-color: #F47C7C;
}


.profile1 {
  width: 60px;
  height: 40px;
  background-color: #794B4B;
  margin-left: 2%;
  margin-top: 2%;
  position: absolute;
}

.friend1 .level1 {
  width: 90px;
  height: 15px;
  background-color: #80D173;
  border: 1px solid black;
  margin-left: 9%;
  margin-top: 3%;
  position: absolute;
}

.friend1 .level1 p {
  margin-left: 20%;
  margin-top: 0%;
  font-size: 14px;
}

.friend1 .nickname1 p {
  font-size: 16px;
  margin-left: 2%;
  margin-top: 6%;
  position: absolute;

}

.friend2 {
  margin-left: 25%;
  margin-top: -11.75%;
  width: 280px;
  height: 150px;
  background-color: #42D2A6;
}

.profile2 {
  width: 60px;
  height: 40px;
  background-color: #794B4B;
  margin-left: 2%;
  margin-top: 2%;
  position: absolute;
}

.friend2 .level2 {
  width: 90px;
  height: 15px;
  background-color: #80D173;
  border: 1px solid black;
  margin-left: 9%;
  margin-top: 2.6%;
  position: absolute;
}

.friend2 .level2 p {
  margin-left: 20%;
  margin-top: 0%;
  font-size: 14px;
}

.friend2 .nickname2 p {
  font-size: 16px;
  margin-left: 2%;
  margin-top: 6%;
  position: absolute;

}

.friend10 {
  margin-left: 48.9%;
  margin-top: -11.74%;
  width: 280px;
  height: 150px;
  background-color: #4D5EFF;
}

.profile10 {
  width: 60px;
  height: 40px;
  background-color: #794B4B;
  margin-left: 2%;
  margin-top: 2%;
  position: absolute;
}

.friend10 .level10 {
  width: 90px;
  height: 15px;
  background-color: #80D173;
  border: 1px solid black;
  margin-left: 9%;
  margin-top: 2.6%;
  position: absolute;
}

.friend10 .level10 p {
  margin-left: 20%;
  margin-top: 0%;
  font-size: 14px;
}

.friend10 .nickname10 p {
  font-size: 16px;
  margin-left: 2%;
  margin-top: 6%;
  position: absolute;

}

.friend8 {
  margin-left: 72.8%;
  margin-top: -11.7%;
  width: 280px;
  height: 150px;
  background-color: #8B9D1E;
}

.profile8 {
  width: 60px;
  height: 40px;
  background-color: #794B4B;
  margin-left: 2%;
  margin-top: 2%;
  position: absolute;
}

.friend8 .level8 {
  width: 90px;
  height: 15px;
  background-color: #80D173;
  border: 1px solid black;
  margin-left: 9%;
  margin-top: 2.6%;
  position: absolute;
}

.friend8 .level8 p {
  margin-left: 20%;
  margin-top: 0%;
  font-size: 14px;
}

.friend8 .nickname8 p {
  font-size: 16px;
  margin-left: 2%;
  margin-top: 6%;
  position: absolute;

}

